* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px #494949;
    font-size: 38px;
    letter-spacing: 0.7px;
}

h2 {
    color: #4C1C10;
    text-transform: uppercase;
    letter-spacing: .7px;
    padding: 30px auto;
    text-shadow: 2px 2px #aaa;
}

h3 {
    color: #fff;
    text-shadow: 2px 2px #494949;
}

h4 a {
    color: #e02f43;
    font-size: 17px;
}

p {
    padding: 5px;
    font-size: 18px;
}

header {
    background: #EFEFE5;
    margin: 0 auto;
}

header ::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    position: absolute;
    padding-left: 50px;
}

header ul {
    float: right;
    margin: 0;
    padding: 0px 40px 20px 20px;
    background: #EFEFE5;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}

header ul ::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #E02F43;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

header ul :hover::before {
    width: 100%;
}

header li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
    text-decoration: none;
}

header li a {
    text-decoration: none;
    color: #6E0D20;
}

ul {
    list-style: circle;
    padding: 5px;
    font-size: 18px;
}

.icons {
    float: right;
    margin-left: 10px;
    padding-top: 2px;
    position: relative;
}

.container {
    background: rgb(34, 34, 34);
    height: 800px;
}

.container img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    opacity: 60%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    opacity: 80%;
    margin-top: 15px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    box-shadow: 0 4px 8px 0 #E02F43;
    max-width: 300px;
    margin: 50px;
    text-align: center;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #6E0D20;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #6E0D20;
}

.info {
    padding-top: 5px;
    padding-right: 8px;
}

.warning {
    background-color: #EFEFE5;
    margin-top: 30px;
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.column {
    display: inline-block;
    width: 25%;
    padding: 30px;
    line-height: 30px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
}

.gallerycolumn {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.footer {
    padding: 5px;
    background-color: #6E0D20;
    color: #EFEFE5;
}